<table class="ui compact celled definition table">
  <thead>
    <tr>
      
      <th>Task Name</th>
      <th>Description</th>
      <th>Dead Day</th>
      <th>Dead Time</th>
     <% if current_user.parent_id != 0 %>
      <th>Assigned By</th>
     <% end %>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>

  <% @tasks&.each do |p| %>
    <tr>
      <td class="collapsing">
      <%= p.task_name %>
      </td>
      <td><%=p.task_desc%></td>
      <td><%=p.dead_day%></td>
      <td><%=p.dead_time%></td>
      <% if current_user.parent_id != 0 %>
      <td><%=p.assigned_by%></td>
     <% end %>
    <td> 
      <%= link_to_if (!p.assigned_by.present?) , "Edit" , tasks_edit_task_path(:id => p.id) do %>
        <p class="link_center"><i class="window minimize red icon"></i></p>
      <% end %> 
    </td>
    <td> 
    <% if !p.assigned_by.present? %>
    <%= button_to "Delete" , tasks_delete_task_path(:id => p.id) , form: {data: {turbo_confirm: 'Delete this task?'}} %>
    <% else %>
    <p class="link_center"><i class="window minimize red icon"></i></p>
    <% end %> 
  </td>
    </tr>
    <% end %>

    </tbody>
  <tfoot class="full-width">
    <tr>
      <th></th>
      <th colspan="4">
        <div class="ui small button">
          <%= link_to "Back" , :back %>
        </div>
      </th>
    </tr>
  </tfoot>
</table>


<script>
$(document).ready(function(){
  $(".do_not_go").click(function(e){
    e.preventDefault();
  })
})
</script>