<br><br><br><br><br>
<div class="ui container">
<div class="ui container">
<div class="ui container">
<div class="ui container">
<div class="ui container">
<div class="ui container">
<div class="ui container">
<div class="ui container">
<div class="ui container">
<div class="ui container">
<div class="ui container">
<div class="ui container">



<p class="link_center click_to_add"><button class="ui button">Add New Task</button></p>
<div class="add_member">
<div class="ui form">
<%= form_for(@task , url: tasks_create_path , method: :post) do |p| %>
  <div class="field">
    <label>Name</label>
    <%= p.text_field :task_name , placeholder: "Enter member name"%>
  </div>

  <div class="field">
    <label>Description</label>
    <%= p.text_area :task_desc , placeholder: "Enter user email" , :required => true%>
  </div>


  <label>Select Time</label>
   
  <%= p.time_field  :dead_time , {ampm: true}%>
<br>
  <label>Select Day</label>
  <%= p.date_field :dead_day  %>
<br>
<% if current_user.parent_id == 0 %>
  <div class="field">
    <label>Assign_to</label>
    <%= p.select :assign_to , @members.collect { |m| [m.email, m.id] } , :include_blank => true %>
  </div>
<% end %>

<%= p.submit "Create" , class:"ui button blue"%>
<% end %>

<br>
<%= link_to "Back" , :back %>
</div>
<hr>
</div>
</div>
</div>
</div>
</div>
</div>
</div>



<div class="ui container">
<br><br><br>

<br><br><br><br>
<div class="link_right">

</div>



<div class="link_center">
<div class="ui labeled button" tabindex="0">
  <div class="ui black button">
    <i class="calendar check icon"></i> <strong class="today">Today Tasks</strong> 
  </div>
  <a class="ui basic black left pointing label">
  <strong class="schedule">Schedule Tasks</strong>
  </a>
  <a class="ui basic black left pointing label">
  <strong class="previous">Previous Tasks</strong>
  </a>
</div>
</div>
<br><br>
<div class="user_tasks"> </div>

</div>


<script>

$(document).ready(function(){
    $(".add_member").hide();
    $("#today").hide();
    $(".click_to_add").click(function(){
        $(".add_member").slideToggle();
    })
   
    // Fetch Today Tasks thruogh Ajax call
    $(".today").click(function(){
      send_data = {type: "today"}
      $.ajax({
        type: 'POST',
        url: '/tasks/user_tasks',
        beforeSend: function(xhr) {xhr.setRequestHeader("X-CSRF-Token", $("meta[name='csrf-token']").attr("content"))},
        data: send_data,
        dataType: 'script',
        success: function(data) {
        console.log("okay")
        }
      });

    })


    // Fetch Schedule Tasks thruogh Ajax call
    $(".schedule").click(function(){
      send_data = {type: "schedule"}
      $.ajax({
        type: 'POST',
        url: '/tasks/user_tasks',
        beforeSend: function(xhr) {xhr.setRequestHeader("X-CSRF-Token", $("meta[name='csrf-token']").attr("content"))},
        data: send_data,
        dataType: 'script',
        success: function(data) {
        console.log("okay")
        }
      });

    })


    // Fetch previous Tasks thruogh Ajax call
    $(".previous").click(function(){
      send_data = {type: "previous"}
      $.ajax({
        type: 'POST',
        url: '/tasks/user_tasks',
        beforeSend: function(xhr) {xhr.setRequestHeader("X-CSRF-Token", $("meta[name='csrf-token']").attr("content"))},
        data: send_data,
        dataType: 'script',
        success: function(data) {
        console.log("okay")
        }
      });

    })
})
</script>

