
<div class="ui container">
<br><br><br>
<div class="link_center"><strong>All Stripe Accounts</strong></div>
<table class="ui compact celled definition table">
  <thead>
    <tr>
      <th>Active</th>
      <th>Email</th>
      <th>Published key</th>
      <th>Secret key</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
  <% @stripeAccounts.each do |p| %>
    <tr>
      <td class="collapsing">
      <% if p.status == 1 %>
        <div class="link_center">   <i class="icon check green"></i> </div>
        <% else %>
        <div class="link_center"> <i class="icon x icon red"></i></div>
        <% end %>
      </td>
      <td><%=p.email%></td>
      <td class="pk"><%=p.p_key%></td>
      <td class="pk2"><u>Show key</u></td>
      <td class="sk"><%=p.s_key%></td>
      <td class="sk2"><u>Show key</u></td>
      <td>
         <div class="inline"><%= link_to "Edit" , edit_stripe_account_path(p.id) %> 
      </td>
      <td>
         <%= button_to "Delete" , stripe_account_path(p.id) , method: :delete , class:"delete" %></div>
      </td>
    </tr>
    <% end %>
  </tbody>
  <tfoot class="full-width">
    <tr>
      <th></th>
      <th colspan="4">
        <div class="ui right floated small labeled icon button">
          <i class="user icon"></i> <%= link_to "Add new account" , new_package_path %>
        </div>
        <div class="ui small button">
          <%= link_to "Back" , :back %>
        </div>
      </th>
    </tr>
  </tfoot>
</table>
</div>


<script>

</script>