<br><br><br>
<div>
<h2 class="ui center aligned icon header">
  <i class="circular home icon red"></i>
  iHouseManagement
</h2>
</div>
<br><br>
<%= form_for(resource, as: resource_name, url: sessions_login_path) do |f| %>
<div class="ui placeholder segment">
  <div class="ui two column very relaxed stackable grid">
    <div class="column">
      <div class="ui form">
        <div class="field">
          <label>Email</label>
          <div class="ui left icon input">
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
            <i class="user icon"></i>
          </div>
        </div>
        <div class="field">
          <label>Password</label>
          <div class="ui left icon input">
          <%= f.password_field :password, autocomplete: "current-password" %>
            <i class="lock icon"></i>
          </div>
        </div>
        <div >
        <%= f.submit "Log in" , class:"ui blue submit button" %>
        </div>
        </div>
     <div class="link_center"> or <br> <%= link_to "Forgot your password?", new_password_path(resource_name) %> </div>
    </div>
    <% end %>
    <div class="middle aligned column">
      <div class="ui big button">
      <span>  <i class="signup icon"></i>
       <%= link_to "signup" , new_user_registration_path %> </span>
      </div>
    </div>
  </div>
  <div class="ui vertical divider">
    Or
  </div>
</div>
