<div class="ui container">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>


<hr>
<div class="container bootstrap snippet">

    <div class="row">
  		<div class="col-sm-3"><!--left col-->
              

      <div class="text-center">
        <img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="avatar img-circle img-thumbnail" alt="avatar">
        <h6>Upload a different photo...</h6>
        <input type="file" class="text-center center-block file-upload">
      </div></hr><br>

               
          <div class="panel panel-default">
            <div class="panel-heading">Website <i class="fa fa-link fa-1x"></i></div>
            <div class="panel-body"><a href="http://bootnipets.com">bootnipets.com</a></div>
          </div>
          
          
          <ul class="list-group">
            <li class="list-group-item text-muted">Activity <i class="fa fa-dashboard fa-1x"></i></li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>Shares</strong></span> 125</li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>Likes</strong></span> 13</li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>Posts</strong></span> 37</li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>Followers</strong></span> 78</li>
          </ul> 
               
          <div class="panel panel-default">
            <div class="panel-heading">Social Media</div>
            <div class="panel-body">
            	<i class="fa fa-facebook fa-2x"></i> <i class="fa fa-github fa-2x"></i> <i class="fa fa-twitter fa-2x"></i> <i class="fa fa-pinterest fa-2x"></i> <i class="fa fa-google-plus fa-2x"></i>
            </div>
          </div>
          
        </div><!--/col-3-->
    	<div class="col-sm-9">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#home">Edit Profile</a></li>
                <li><a data-toggle="tab" href="#messages">Change Password</a></li>
              </ul>

              
          <div class="tab-content">
            <div class="tab-pane active" id="home">
        <br><br>
                  <%= form_for(@user , url: user_do_edit_profile_path , method: :post) do |u| %>
                      <div class="form-group">
                          
                          <div class="col-xs-6">
                              <label for="first_name"><h4>First name</h4></label>
                              <%= u.text_field :first_name , class:"form-control" %>
                          </div>
                      </div>
                      <div class="form-group">
                          
                          <div class="col-xs-6">
                            <label for="last_name"><h4>Last name</h4></label>
                            <%= u.text_field :last_name , class:"form-control" %>
                          </div>
                      </div>
          <br><br><br>
                      <div class="form-group">
                          
                          <div class="col-xs-6">
                              <label for="phone"><h4>Email</h4></label>
                              <%= u.text_field :email , class:"form-control" , :disabled => true %>
                          </div>
                      </div>
                      <div class="form-group">
                      <div class="col-xs-6">
                         <label for="mobile"><h4>Phone</h4></label>
                         <%= u.text_field :phone_no , class:"form-control" %>
                      </div>
                  </div>

                      <br><br><br>
                      <div class="form-group">
                          <div class="col-xs-6">
                             <label for="mobile"><h4>Gender</h4></label>
                             <%= u.select :gender, ['Male', 'Female'] , class:"form-control" %>
                          </div>
                      </div>
                      <br><br>
              
                      <div class="form-group">
                          
                          <div class="col-xs-6">
                              <label for="email"><h4>Country</h4></label>
                              <%= u.select :country, ['Pakistan', 'United States'] , class:"form-control" %>
                          </div>
                      </div><br><br>
                      <div class="form-group">
                          
                          <div class="col-xs-6">
                              <label for="email"><h4>Date Of Birth</h4></label>
                              <%= u.date_field :dateofbirth , class:"form-control" , :value => @user.dateofbirth %>
                          </div>
                      </div><br><br>
             
                      <div class="form-group">
                      <div class="col-xs-12">
                           <br>
                             <%= u.submit "Edit" , class:"btn btn-lg btn-success" %>
                              <button class="btn btn-lg" type="reset"><i class="glyphicon glyphicon-repeat"></i> Reset</button>
                       </div>
                 </div>

                      <% end %>
                     
                    
              
          
              
             </div><!--/tab-pane-->
             <div class="tab-pane" id="messages">
               
               <h2></h2>
               
               <hr>
               <%= form_for(@user , url: user_do_edit_profile_path , method: :post) do |u| %>
                      <div class="form-group">
                          
                          <div class="col-xs-6">
                              <label for="first_name"><h4>New Password</h4></label>
                              <%= u.password_field :new_password , class: "form-control"  %>
                          </div>
                      </div>
                      <div class="form-group">
                          
                          <div class="col-xs-6">
                            <label for="last_name"><h4>Re-enter new password</h4></label>
                            <%= u.password_field :confirm_password , class: "form-control" %>
                          </div>
                      </div>
          
                      <div class="form-group">
                          
                          <div class="col-xs-6">
                              <label for="phone"><h4>Current Password</h4></label>
                              <%= u.password_field :password , class: "form-control"  %>
                          </div>
                      </div>
          
                      <div class="form-group">
                           <div class="col-xs-12">
                                <br>
                                <%= u.submit "Change Password" , class: "btn btn-lg btn-success" %>
                               	<button class="btn btn-lg" type="reset"><i class="glyphicon glyphicon-repeat"></i> Reset</button>
                            </div>
                      </div>
              <% end %>
               
             </div><!--/tab-pane-->
             
              </div><!--/tab-pane-->
          </div><!--/tab-content-->

        </div><!--/col-9-->
    </div><!--/row-->
                                                      
</div>
